* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', sans serif
}

.deezer {
  background-color: #9d4edd;
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px ;
  gap: 30px
}

.artist-card {
  background-color: #181818;
  width: 160px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.artist-card {
  background-color: #282828;
}

.artist-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #9d4edd;
}

.artist-card h2 {
  font-size: 1em;
  color: #fff;
}


}
.gallery-vertical {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 10vw;
}
.banner {
    height: 50px;
    background-color:  #9163cb; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
	 color: black;
   
}


hero {
     background-color:#240046;
    width:100%;
   display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
	padding-top: 20px;
 } 
table{
	padding-top: 20px;
	padding-bottom: 50px;
	}

 #t {
    color: white;
	
}
.p2 {
    color:white;
    background-color:#c05299;
}

.p1 {
     color:white;

    background-color:#ac46a1;
   
 }

.p3 {
    background-color:#973aa8;
        color:white;

 }

.p4 {
    background-color:#822faf;
        color:white;

 }

.p5 {
    background-color:#6d23b6;
        color:white;

 }

.p6 {
    background-color:#6411ad;
        color:white;

 }

.p7 {
    background-color:#571089;
        color:white;

 }
#metodepembayaran {
    background-color:#10002b;
}
#meba1 {
    color:white;
    margin-bottom:50px;
    padding-top:50px;
}
#meba2 {
    color:white;
	 padding-bottom:20px;
}
.home {
    height: 80px;
    background-color: #240046;
    display: flex;
    justify-content: space-between; 
    align-items: center;
	 color: white;
	 padding: 0 20px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
	
 .profi {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  }
	

.card {
    display: flex;
    align-items: center;
    justify-content: center;
	 background-color: #9163cb;
	 padding-left: 50px;
    padding-right: 50px;
	 padding-top: 20px;
	 padding-bottom: 20px;
	 border-radius: 15px;
	 border: 2px solid white;
	}
content{
	background-color: black;
	}
footer {
    background-color: purple;
	 color: white;
    display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-item: center;
	 padding-left: 10px;
    padding-right: 10px;
	 padding-top: 50px;
	 padding-bottom: 50px;
	 height: 180px
	}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #c8b1e4;
}